## **Variable**

In [ ]:
name = "Bob"
winner = True
score = 35

In [ ]:
my_name = 'John Smith'

In [ ]:
v_1 = 8
v_2 = 9

In [ ]:
print(my_name)

In [ ]:
age = v_1 + v_2

In [ ]:
print ('I am', age, 'years old')

## **Type**

In [ ]:
ival = 10
print(type(ival))

In [ ]:
fval = 20.2
print(type(fval))

In [ ]:
x = True
print(type(x))

## **Math Operator**

In [ ]:
2+3

In [ ]:
9-3

In [ ]:
3*8

In [ ]:
3/2

In [ ]:
9//2

In [ ]:
8%5

In [ ]:
2**3

## **Comments**

In [ ]:
# This line is ignored

In [ ]:
# This is a multiline comment
# This line and the line above are both ignored by the interpreter

In [ ]:
"""
This is a multiline comment
This line and the line above are both ignored by the interpreter
"""

## **User Input**

In [ ]:
var = input('Enter a value: ')

# Print the value and the data type BEFORE conversion
print(var, type(var))

In [ ]:
# Use the respective functions to convert the string value to that data type
var1 = float(var)

# Print the value and the data type AFTER conversion
print(var1, type(var1))

In [ ]:
var2 = float(input('Enter a value: '))
print(var2)

## **Exercise 1**
#### **BMI Calculator!!**
Write a program that calculates BMI (Body Mass Index) based on user input for height and weight.

* Prompt the user to enter their weight in kilograms.
* Prompt the user to enter their height in meters.
* Calculate BMI using the formula BMI = weight / (height ** 2).

In [ ]:
# User input for weight and height

# calculate BMI

# Display the result

## **Strings**

In [ ]:
name_1 = 'John Wick'
name_2 = "Indiana Jones"

In [ ]:
# this is a string and not an integer
age = '2'

In [ ]:
# Start with a double quote if you use a single quote in your string
f = "This is Del's pencil"

In [ ]:
# Start with a single quote if you use a double quote in your string
f = 'Francis said "This is my pencil"'

In [ ]:
print (f)

## **String Indexing**

In [ ]:
name = 'Johnson Smith'

In [ ]:
name[0]

In [ ]:
name[1]

In [ ]:
name[6]

In [ ]:
name[12]

**You can start indexing from the right side with negative indexes starting with index -1**

In [ ]:
name[-1]

In [ ]:
name[-2]

In [ ]:
name[-13]

### **String Slicing**

In [ ]:
name

In [ ]:
name[0:6]

In [ ]:
name[7:13]

In [ ]:
name[1:4]

In [ ]:
name[6] = 'c'

### **Some String Functions and Methods**

In [ ]:
name = 'Johnson Smith'

**Length of string**

In [ ]:
len(name)

**Convert to string**

In [ ]:
age = 3

In [ ]:
str(age)

**Convert to lower case**

In [ ]:
name.lower()

**Convert to upper case**

In [ ]:
name.upper()

In [ ]:
name = 'Francis'

In [ ]:
name.isdigit()

In [ ]:
name.isalpha()

In [ ]:
str(age).isdigit()

**Replace characters**

In [ ]:
name.replace('s','k')

**Split a string using a delimiter character**

In [ ]:
text = 'I am going to the University of Cincinnati'
name = "Mary-Jane Watson"

In [ ]:
text.split(' ')

In [ ]:
name.split('-')

### **String Concatenation**

In [ ]:
string1 = 'My name is '
name = 'John'
string2 = string1 + name
print(string2)

In [ ]:
string1 = 'My name is '
name = 'John '
age = 16
string2 = string1 + name + 'I am ' + str(age) + ' years old'
print(string2)

### **Dates and times**

In [ ]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
print(dt.day)
print(dt.minute)

In [ ]:
print(dt.date())
print(dt.time())

In [ ]:
dt.strftime("%Y-%m-%d %H:%M")

In [ ]:
datetime.strptime("20091031", "%Y%m%d")

In [ ]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
print(delta)
print(type(delta))

In [ ]:
from datetime import date

today = date.today()

# dd/mm/YY
d1 = today.strftime("%d/%m/%Y")
print("d1 =", d1)

# Textual month, day and year
d2 = today.strftime("%B %d, %Y")
print("d2 =", d2)

# mm/dd/y
d3 = today.strftime("%m/%d/%y")
print("d3 =", d3)

# Month abbreviation, day and year
d4 = today.strftime("%b-%d-%Y")
print("d4 =", d4)

In [ ]:
from datetime import datetime

# datetime object containing current date and time
now = datetime.now()

print("now =", now)

# dd/mm/YY H:M:S
dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
print("date and time =", dt_string)

### Language Semantics

In [ ]:
n = int(input("Enter no of students:"))
Marks = [20,50,60,70,80]
def maxMarks(n, senu):
  max = 0
  for x in range(n):
    if senu[max] < senu[x]:
      max = x
  return max

x = maxMarks(n,Marks)
print("Maximum Mark is", Marks[x])

### **Comparison Operators **

In [ ]:
a = 5
b = 6
name = 'Smith'

In [ ]:
print(a == 5)
print(a == b)

In [ ]:
print(a != b)
print(name != 'Smith')

In [ ]:
print(a < b)
print(b > 7)

In [ ]:
print(a <= 5)
print(b >= 7)

### Logical Operators

In [ ]:
a = 5
b = 6

In [ ]:
print(a <= 5 and a < b)
print(a <= 5 and b >= 7)

In [ ]:
print(a <= 5 or a < b)
print(a <= 5 or b >= 7)

In [ ]:
not(a <= 5)

### **🍙Decision Blocks**

In [ ]:
a = 5
if a <= 5:
    print('\'a\' is less than or equal to 5')
    print('This statement is also executed under the if block')

In [ ]:
if a <= 4:
    print('\'a\' is less than or equal to 5')
    print('This statement is also executed under the if block')
print('DONE')

In [ ]:
a = 6
if a <= 5:
    print('\'a\' is less than or equal to 5')
    print('This statement is also executed under the if block')
else:
    print('\'a\' must be greater than 5')
    print('This statement is also executed under the else block')
print('DONE')

In [ ]:
b = input('Type a number for \'b\': ')  # '\' is an escape character
a = float(b)
if a <= 5:
    print('\'a\' is less than or equal to 5')
elif a > 5 and a <= 8:
    print('\'a\' is greater than 5 and less than or equal to 8')
elif a > 8 and a <= 10:
    print('\'a\' is greater than 8 and less than or equal to 10')
else:
    print('\'a\' must be greater than 10')
print('DONE')

### Function

In [ ]:
def printme(var):
    #This returns the variable passed into the function
    return var

In [ ]:
# 1st Function call
printme('First call to user defined function')

In [ ]:
# 2nd Function call
printme(10)

### Exercise  2


1.   Use function to calculate BMI
2.   Based on the calculated BMI along with an interpretation.
*   "You are underweight" if BMI is less than 18.5
*   "You have a normal weight" if BMI between 18.5 and 24.9
*   "YYou are overweight" if BMI between 25 and 29.9
*   "You are obese"

In [ ]:
# BMI Calculator

# Function to calculate BMI
def calculate_bmi(weight, height):
    bmi = 0 # initial variable
    return bmi

# User input for weight and height
weight = float(input("Enter your weight in kilograms: "))
height = float(input("Enter your height in meters: "))

# Calculate BMI
bmi = calculate_bmi(weight, height)

# Display the result
print(f"Your BMI is: {bmi:.2f}")

# Interpretation of BMI. Create a if elif else block statement

### Loop

#### While loop

In [ ]:
count = 0
while count < 10:
  print(count)
  count = count + 1 # count += 1, short-hand notation to increment a variable

In [ ]:
# CAUTION - Infinite loop
count = 0
while count >= 0:
  print(count)
  count += 1

In [ ]:
count = 0
while count >= 0:
    print(count)
    count +=1 # count = count + 1
    if count >= 10:
        break

In [ ]:
import random #will explain import later
count = 0
while count < 3:
    num = random.randint(1,6) # This will generate a random number between 1 and 6
    print(num)
    if num == 5:
        print('sorry, you lose!')
        break
    count +=1
else:
    print('You win!')

#### For Loop

In [ ]:
for var in 'string':
    print(var)

In [ ]:
k = 'string'
for var in k:
    print(var.upper())

In [ ]:
list1 = ['banana','orange','mango']
for fruit in list1:
    print(fruit)

In [ ]:
for num in (2,4,1,34,5):
    print(num)

In [ ]:
for num in range(10):
    print(num)

In [ ]:
for num in range(-6,6):
    print(num)

In [ ]:
for num in range(0,20,4):
    print(num)

### Nested Loop

In [ ]:
names = ['Kelly', 'Jessa', 'Emma']
# outer loop
for name in names:
    # inner while loop
    count = 0
    while count < 5:
        print(name, end=' ')
        # increment counter
        count = count + 1
    print()

### For..else loop blocks

In [ ]:
fruits = ['banana','apple','orange','tomato','pear']
print('You have...')
for f in fruits:
    if f == 'tomato':
        print('tomato is not a fruit!')
        break
    print(f)
else:
    print('A fine selection of fruits!')

### Exercise 3

DNA to RNA Transcription <br>
The process of converting DNA to RNA  <br>
G->C <br>
C->G <br>
A->T <br>
T->A <br>
Example: <br>
**Input:** GCTAGCCTACG   <br>
**Output:** CGATCGGATGC <br>

Write a program that takes a DNA string input from a user and transcripes the string into an RNA string using rules above

* Your program should be case insensitive
* The program should exit if any other letter aside G,C, A nad T is encountered in the DNA string
* Your program should output the RNA string in upper cases

In [ ]:
# Take input for DNA string and store in a variable DNA_string
DNA_string = '' # Replace this line with the right code

# Initialize the RNA output as an empty string
RNA_string = ''

# Use "for" loop to traverse the DNA string. Use "If..elif..else" sub block to check and concactenate the appropriate letter
# to RNA_string.
# Use "else" block in the "If..elif..else" sub block to output an error message and break if a diffrent letter is encountered

for i in DNA_string.upper():
    # the upper() method is used to make our program case insensitive
    if i == 'G':
        RNA_string = RNA_string + 'C'
    # Continue the "elif" blocks of the "If..elif..else" block for the other letters




    # Complete the "If..elif..else" block with "else" block for an error message assigned to RNA_string
    # break out of the loop


else:
    # This else is attached to the for loop
    print('Done with Translation')

print('DNA output: ', RNA_string)

### Data Structure

#### List

In [ ]:
list1 = ['physics','astronomy',56.98,'MJ',-9.36]

# list within a list
list2 = ['chemistry','biology',77.98,[3,4,65],'EE',-56]

In [ ]:
print (list1)
print(list2)

In [ ]:
list1[0]

In [ ]:
list1[1]

In [ ]:
list1[4]d

In [ ]:
list1[-1]

In [ ]:

list1[1]

In [ ]:
list1[-2]

In [ ]:
list1[1][3]

In [ ]:
list2[3]

In [ ]:
list2[3][2]d

In [ ]:
list1[0:4]

In [ ]:
list2[3:5]

### **List Concatenation**

In [ ]:
[1,2,3] + [5,6,7]

In [ ]:
list1 + list2

### **Some List Functions and Methods**

In [ ]:
list1 = ['physics','astronomy',56.98,'MJ',-9.36]

list2 = ['chemistry','biology',77.98,[3,4,65],'EE',-56]

**Length of a list**

In [ ]:
len(list1)

In [ ]:
len(list2)

**Maximum/Minimum value**

In [ ]:
list3 = [3,4,67,2,1]
list4 = ['3','4','67','2','1','four','three']

In [ ]:
max(list3)

In [ ]:
min(list3)

**Append object to list**

In [ ]:
list4

In [ ]:
list4.append('two')
list4.append('three')
list4

**Insert object**

In [ ]:
list4

In [ ]:
list4.insert(3,56)
list4

**Frequency of object**

In [ ]:
list4.count('three')

**Return index**

In [ ]:
list4.index('1')

**Delete object**

*By Index position*

In [ ]:
list4

In [ ]:
list4.pop(3)

In [ ]:
list4

*By element referencing*

In [ ]:
list4.remove('67')

In [ ]:
list4

**Reverse the list**

In [ ]:
list4.reverse()
list4

**Sort the list (natural order)**

In [ ]:
list3

In [ ]:
list3.sort()
list3

**<h5><center>Note</center></h5>**

**Lists are "MUTABLE"**

In [ ]:
list4

In [ ]:
list4[5] = 5
list4

#### List Iteration

In [ ]:
a = ["ant", "bat", "cat", 42]
for i in range(len(a)):
  print(f"a[{i}] = {a[i]}")

In [ ]:
for index, element in enumerate(a):
  print(f"a[{index}] = {element}")

### Tuples

In [ ]:
tup = (3,4,67,2,1)

Dictionary

In [ ]:
dict1 = {"name":"Daniel","age":23,"degree":"MS"}
dict2 = {'name':'Francis','age':60,'job':'Car designer','brand':'Jaguar','worked-for':['Ford','TWR','Aston Martin']}

In [ ]:
dict1['age']

In [ ]:
dict2['worked-for']

In [ ]:
dict2['worked-for'][1]

In [ ]:
dict1['subjects'] = ["OS",'DBMS','Artificial Intelligence']

In [ ]:
dict1

In [ ]:
dict1['degree']='Master of Science'

In [ ]:
dict1

In [ ]:
dict1 = {"name":"Daniel","age":23,"degree":"MS"}
dict2 = {'name':'Francis','age':60,'job':'Car designer','brand':'Jaguar','worked-for':['Ford','TWR','Aston Martin']}

In [ ]:
len(dict1)

In [ ]:
len(dict2)

In [ ]:
dict1.get('name')

In [ ]:
dict1.items()

In [ ]:
dict1.keys()

In [ ]:
dict1.values()

### Set

In [ ]:
tech = {'google','amazon','apple','tesla','microsoft','apple', 'google'}

In [ ]:
tech

In [ ]:
a = set([10,20,30,40,50])
b = set([10,60,70])

In [ ]:
print(a)
print(b)

In [ ]:
print(a.intersection(b))
print(a.difference(b))
print(a.union(b))
print(b.intersection(a))
print(b.difference(a))
print(a.union(b))
print(a.symmetric_difference(b))

### Execise 4

*   Create a variable with the string value - **'The quick brown fox jumps over a lazy dog'** <br>
    * Print the length of this string variable
    * **'Split'** the string using **'  '** (space character) and assign this operation to a new variable. Print the length of the new variable
    * Find the middle element of the sequence in new variable and return its value
    * **'append'** a new string value, 'number 5' (5 is an integer. Concatenate the values, 'number' and 5, while appending)
    * **'Join'** the split strings (in the new variable) with a space character and print this operation (**Hint: ' '.join(???)**)

In [ ]:
# Enter your code here

In [ ]:
text = 'The quick brown fox jumps over a lazy dog'

#Length of the 'text' variable

#Splitting the string

#Length of the 'new' variable

#Middle element of the 'new' variable

#Adding a string to the 'new' variable

#Joining the the individual strings into one string