In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the page with the table
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)'

# Send a GET request to the page
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Parse the page content
    soup = BeautifulSoup(response.text, 'html.parser')
    #print(soup.prettify())

    # Find the table with GDP data (the table is under the class "wikitable")
    table = soup.find('table', class_='wikitable')
    #print(table)

    # Extract table headers
    headers = []
    headers = [header.text.strip() for header in table.find_all('th')]

    ##
    # ValueError: 10 columns passed, passed data had 7 columns
    ##
    #for header in table.find_all('th'):
    #    colspan = int(header.get('colspan', 1))
    #    if colspan == 1:
    #        headers.append(header.text.strip())

    print("Headers:", headers)


    # Extract table rows
    rows = table.find_all('tr')[1:]  # Skip the header row

    # Initialize lists to hold row data
    data = []
    for row in rows:
        cells = row.find_all('td')
        if len(cells) > 0:
            row_data = [cell.text.strip() for cell in cells]
            print("Row data:", row_data)
            data.append(row_data)
    # Create a DataFrame from the data
    df = pd.DataFrame(data, columns=headers)

    # Print the DataFrame
    print(df.head())

    # Save the DataFrame to a CSV file
    df.to_csv('gdp_data.csv', index=False)

else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

Headers: ['Country/Territory', 'IMF[1][13]', 'World Bank[14]', 'United Nations[15]', 'Forecast', 'Year', 'Estimate', 'Year', 'Estimate', 'Year']
Row data: ['World', '109,529,216', '2024', '105,435,540', '2023', '100,834,796', '2022']
Row data: ['United States', '28,781,083', '2024', '27,360,935', '2023', '25,744,100', '2022']
Row data: ['China', '18,532,633', '[n 1]2024', '17,794,782', '[n 3]2023', '17,963,170', '[n 1]2022']
Row data: ['Germany', '4,591,100', '2024', '4,456,081', '2023', '4,076,923', '2022']
Row data: ['Japan', '4,110,452', '2024', '4,212,945', '2023', '4,232,173', '2022']
Row data: ['India', '3,937,011', '2024', '3,549,919', '2023', '3,465,541', '2022']
Row data: ['United Kingdom', '3,495,261', '2024', '3,340,032', '2023', '3,089,072', '2022']
Row data: ['France', '3,130,014', '2024', '3,030,904', '2023', '2,775,316', '2022']
Row data: ['Brazil', '2,331,391', '2024', '2,173,666', '2023', '1,920,095', '2022']
Row data: ['Italy', '2,328,028', '2024', '2,254,851', '2023', '2,046,952', '2022']
Row data: ['Canada', '2,242,182', '2024', '2,140,086', '2023', '2,137,939', '2022']
Row data: ['Russia', '2,056,844', '2024', '2,021,421', '2023', '2,240,422', '2022']
Row data: ['Mexico', '2,017,025', '2024', '1,788,887', '2023', '1,463,323', '2022']
Row data: ['Australia', '1,790,348', '2024', '1,723,827', '2023', '1,776,577', '2022']
Row data: ['South Korea', '1,760,947', '2024', '1,712,793', '2023', '1,673,916', '2022']
Row data: ['Spain', '1,647,114', '2024', '1,580,695', '2023', '1,415,874', '2022']
Row data: ['Indonesia', '1,475,690', '2024', '1,371,171', '2023', '1,319,100', '2022']
Row data: ['Netherlands', '1,142,513', '2024', '1,118,125', '2023', '1,008,027', '2022']
Row data: ['Turkey', '1,113,561', '2024', '1,108,022', '2023', '907,118', '2022']
Row data: ['Saudi Arabia', '1,106,015', '2024', '1,067,583', '2023', '1,108,148', '2022']
Row data: ['Switzerland', '938,458', '2024', '884,940', '2023', '818,426', '2022']
Row data: ['Poland', '844,623', '2024', '811,229', '2023', '688,125', '2022']
Row data: ['Taiwan', '802,958', '[n 4]2024', '—', '—']
Row data: ['Belgium', '655,192', '2024', '632,217', '2023', '582,643', '2022']
Row data: ['Sweden', '623,048', '2024', '593,268', '2023', '591,188', '2022']
Row data: ['Argentina', '604,260', '2024', '640,591', '2023', '631,133', '2022']
Row data: ['Ireland', '564,020', '2024', '545,629', '2023', '532,415', '2022']
Row data: ['Thailand', '548,890', '2024', '514,945', '2023', '495,340', '2022']
Row data: ['Austria', '540,887', '2024', '516,034', '2023', '470,302', '2022']
Row data: ['Israel', '530,664', '2024', '509,902', '2023', '525,002', '2022']
Row data: ['United Arab Emirates', '527,796', '2024', '504,173', '2023', '507,063', '2022']
Row data: ['Norway', '526,951', '2024', '485,513', '2023', '579,422', '2022']
Row data: ['Singapore', '525,228', '2024', '501,428', '2023', '466,788', '2022']
Row data: ['Philippines', '471,516', '2024', '437,146', '2023', '404,284', '2022']
Row data: ['Vietnam', '465,814', '2024', '429,717', '2023', '408,802', '2022']
Row data: ['Iran', '464,181', '2024', '401,505', '2023', '398,047', '2022']
Row data: ['Bangladesh', '455,162', '2024', '437,415', '2023', '432,677', '2022']
Row data: ['Malaysia', '445,519', '2024', '399,649', '2023', '406,305', '2022']
Row data: ['Denmark', '409,989', '2024', '404,199', '2023', '400,167', '2022']
Row data: ['Hong Kong', '406,775', '[n 5]2024', '382,055', '2023', '359,838', '2022']
Row data: ['Colombia', '386,076', '2024', '363,540', '2023', '343,939', '2022']
Row data: ['South Africa', '373,233', '2024', '377,782', '2023', '405,270', '2022']
Row data: ['Romania', '369,971', '2024', '351,003', '2023', '300,690', '2022']
Row data: ['Egypt', '347,594', '2024', '395,926', '2023', '409,306', '2022']
Row data: ['Pakistan', '338,237', '2023', '338,368', '2023', '326,796', '2022']
Row data: ['Chile', '333,760', '2024', '335,533', '2023', '300,686', '2022']
Row data: ['Czech Republic', '325,880', '2024', '330,858', '2023', '290,527', '2022']
Row data: ['Finland', '308,055', '2024', '300,187', '2023', '282,511', '2022']
Row data: ['Portugal', '298,949', '2024', '287,080', '2023', '254,849', '2022']
Row data: ['Kazakhstan', '296,740', '2024', '261,421', '2023', '225,496', '2022']
Row data: ['Peru', '282,458', '2024', '267,603', '2023', '242,631', '2022']
Row data: ['Algeria', '266,780', '2024', '239,899', '2023', '191,912', '2022']
Row data: ['Iraq', '265,894', '2024', '250,843', '2023', '264,182', '2022']
Row data: ['New Zealand', '257,625', '2024', '253,466', '2023', '245,845', '2022']
Row data: ['Nigeria', '252,738', '2024', '362,815', '2023', '475,058', '2022']
Row data: ['Greece', '250,276', '2024', '238,206', '2023', '217,285', '2022']
Row data: ['Qatar', '244,686', '2024', '235,770', '2022', '237,101', '2022']
Row data: ['Hungary', '223,413', '2024', '212,389', '2023', '177,337', '2022']
Row data: ['Ethiopia', '205,130', '2024', '163,698', '2023', '118,971', '2022']
Row data: ['Ukraine', '188,943', '[n 6]2024', '178,757', '[n 6]2023', '160,502', '[n 6]2022']
Row data: ['Kuwait', '160,397', '2024', '161,772', '2023', '175,363', '2022']
Row data: ['Morocco', '152,377', '2024', '141,109', '2023', '130,912', '[n 7]2022']
Row data: ['Cuba', '—', '—', '147,193', '2022']
Row data: ['Slovakia', '140,808', '2024', '132,794', '2023', '115,304', '2022']
Row data: ['Dominican Republic', '127,356', '2024', '121,444', '2023', '113,537', '2022']
Row data: ['Ecuador', '121,592', '2024', '118,845', '2023', '115,049', '2022']
Row data: ['Puerto Rico', '117,763', '2024', '117,902', '2023', '113,434', '2022']
Row data: ['Guatemala', '110,035', '2024', '102,050', '2023', '95,003', '2022']
Row data: ['Oman', '108,927', '2024', '108,192', '2023', '114,666', '2022']
Row data: ['Bulgaria', '107,933', '2024', '101,584', '2023', '90,213', '2022']
Row data: ['Kenya', '104,001', '2024', '107,441', '2023', '113,419', '2022']
Row data: ['Venezuela', '102,328', '2024', '—', '129,313', '2022']
Row data: ['Uzbekistan', '97,956', '2024', '90,889', '2023', '80,391', '2022']
Row data: ['Costa Rica', '96,058', '2024', '86,498', '2023', '68,380', '2022']
Row data: ['Angola', '92,123', '2024', '84,773', '2023', '113,304', '2022']
Row data: ['Luxembourg', '88,556', '2024', '85,755', '2023', '81,530', '2022']
Row data: ['Croatia', '88,076', '2024', '82,689', '2023', '71,552', '2022']
Row data: ['Panama', '87,347', '2024', '83,382', '2023', '76,522', '2022']
Row data: ['Ivory Coast', '86,911', '2024', '78,789', '2023', '70,018', '2022']
Row data: ['Uruguay', '82,605', '2024', '77,241', '2023', '71,171', '2022']
Row data: ['Turkmenistan', '81,896', '2024', '59,887', '2023', '67,009', '2022']
Row data: ['Serbia', '81,873', '2024', '75,187', '2023', '63,563', '2022']
Row data: ['Lithuania', '81,170', '2024', '77,836', '2023', '70,878', '2022']
Row data: ['Tanzania', '79,605', '2024', '79,158', '2023', '73,535', '[n 8]2022']
Row data: ['Azerbaijan', '78,749', '2024', '72,356', '2023', '78,721', '2022']
Row data: ['Ghana', '75,244', '2024', '76,370', '2023', '73,766', '2022']
Row data: ['Sri Lanka', '74,846', '2022', '84,357', '2023', '76,187', '2022']
Row data: ['DR Congo', '73,761', '2024', '66,383', '2023', '62,551', '2022']
Row data: ['Slovenia', '72,101', '2024', '68,217', '2023', '59,981', '2022']
Row data: ['Belarus', '69,048', '2024', '71,857', '2023', '72,873', '2022']
Row data: ['Myanmar', '68,006', '2024', '64,815', '2023', '65,211', '2022']
Row data: ['Uganda', '56,310', '2024', '49,273', '2023', '48,243', '2022']
Row data: ['Tunisia', '54,708', '2024', '48,530', '2023', '46,181', '2022']
Row data: ['Macau', '54,677', '[n 9]2024', '47,062', '2023', '24,042', '2022']
Row data: ['Jordan', '53,570', '2024', '50,814', '2023', '47,452', '2022']
Row data: ['Cameroon', '53,205', '2024', '47,946', '2023', '44,341', '2022']
Row data: ['Bolivia', '49,334', '2024', '45,850', '2023', '44,008', '2022']
Row data: ['Libya', '48,221', '2024', '50,492', '2023', '40,537', '2022']
Row data: ['Bahrain', '46,790', '2024', '43,205', '2023', '44,382', '2022']
Row data: ['Paraguay', '45,817', '2024', '42,956', '2023', '41,722', '2022']
Row data: ['Latvia', '45,466', '2024', '43,627', '2023', '40,876', '2022']
Row data: ['Cambodia', '45,150', '2024', '31,773', '2023', '29,504', '2022']
Row data: ['Nepal', '44,179', '2024', '40,908', '2023', '39,406', '2022']
Row data: ['Estonia', '43,486', '2024', '40,745', '2023', '38,049', '2022']
Row data: ['Honduras', '37,355', '2024', '34,401', '2023', '31,717', '2022']
Row data: ['Senegal', '35,450', '2024', '31,014', '2023', '27,775', '2022']
Row data: ['El Salvador', '35,333', '2024', '34,016', '2023', '32,488', '2022']
Row data: ['Zimbabwe', '34,405', '2024', '26,538', '2023', '26,418', '2022']
Row data: ['Cyprus', '34,221', '[n 10]2024', '32,230', '[n 10]2023', '29,210', '[n 10]2022']
Row data: ['Iceland', '33,338', '2024', '31,020', '2023', '28,064', '2022']
Row data: ['Georgia', '32,865', '[n 11]2024', '30,536', '[n 11]2023', '24,605', '[n 11]2022']
Row data: ['Papua New Guinea', '31,716', '2024', '30,933', '2022', '31,609', '2022']
Row data: ['Zambia', '29,872', '2024', '28,163', '2023', '29,136', '2022']
Row data: ['Bosnia and Herzegovina', '29,078', '2024', '27,055', '2023', '24,473', '2022']
Row data: ['Trinidad and Tobago', '28,365', '2024', '28,140', '2023', '30,053', '2022']
Row data: ['Sudan', '26,865', '2024', '109,327', '2023', '36,729', '2022']
Row data: ['Guinea', '25,447', '2024', '23,612', '2023', '20,846', '2022']
Row data: ['Albania', '25,431', '2024', '22,978', '2023', '18,916', '2022']
Row data: ['Armenia', '25,408', '2024', '24,212', '2023', '19,513', '2022']
Row data: ['Haiti', '24,046', '2024', '19,851', '2023', '18,751', '2022']
Row data: ['Mozambique', '22,975', '2024', '20,625', '2023', '18,406', '2022']
Row data: ['Malta', '22,737', '2024', '20,957', '2023', '18,100', '2022']
Row data: ['Mongolia', '21,943', '2024', '19,872', '2023', '17,146', '2022']
Row data: ['Burkina Faso', '21,902', '2024', '20,325', '2023', '19,176', '2022']
Row data: ['Lebanon', '21,780', '2022', '17,937', '2023', '39,303', '2022']
Row data: ['Mali', '21,662', '2024', '20,905', '2023', '18,827', '2022']
Row data: ['Botswana', '21,418', '2024', '19,396', '2023', '20,352', '2022']
Row data: ['Benin', '21,371', '2024', '19,673', '2023', '17,396', '2022']
Row data: ['Guyana', '21,178', '2024', '16,786', '2023', '14,718', '2022']
Row data: ['Gabon', '21,013', '2024', '20,516', '2023', '20,132', '2022']
Row data: ['Jamaica', '20,098', '2024', '19,423', '2023', '17,097', '2022']
Row data: ['Nicaragua', '18,829', '2024', '17,829', '2023', '15,671', '2022']
Row data: ['Niger', '18,816', '2024', '16,819', '2023', '15,414', '2022']
Row data: ['Chad', '18,697', '2024', '13,149', '2023', '16,799', '2022']
Row data: ['Palestine', '18,602', '[n 12]2023', '17,396', '[n 12]2023', '19,111', '[n 13]2022']
Row data: ['Moldova', '18,356', '[n 14]2024', '16,539', '[n 14]2023', '14,510', '[n 14]2022']
Row data: ['Yemen', '16,940', '2024', '—', '11,007', '2022']
Row data: ['Madagascar', '16,465', '2024', '16,032', '2023', '14,954', '2022']
Row data: ['Mauritius', '16,359', '2024', '14,397', '2023', '12,898', '2022']
Row data: ['North Macedonia', '15,873', '2024', '14,761', '2023', '13,711', '2022']
Row data: ['Brunei', '15,510', '2024', '15,128', '2023', '16,681', '2022']
Row data: ['Congo', '15,501', '2024', '15,321', '2023', '15,344', '2022']
Row data: ['Laos', '15,190', '2024', '15,843', '2023', '15,362', '2022']
Row data: ['North Korea', '—', '—', '15,176', '2022']
Row data: ['Afghanistan', '14,467', '2022', '14,502', '2022', '14,174', '2022']
Row data: ['Bahamas', '14,390', '2024', '14,339', '2023', '12,897', '2022']
Row data: ['Rwanda', '13,701', '2024', '14,098', '2023', '13,312', '2022']
Row data: ['Kyrgyzstan', '13,599', '2024', '13,988', '2023', '10,930', '2022']
Row data: ['Tajikistan', '12,953', '2024', '12,061', '2023', '10,492', '2022']
Row data: ['Somalia', '12,804', '2024', '11,680', '2023', '10,420', '2022']
Row data: ['Namibia', '12,765', '2024', '12,351', '2023', '12,607', '2022']
Row data: ['Kosovo', '11,318', '2024', '10,438', '2023', '9,397', '2022']
Row data: ['Malawi', '11,241', '2024', '14,084', '2023', '12,558', '2022']
Row data: ['Equatorial Guinea', '10,708', '2024', '12,117', '2023', '11,767', '2022']
Row data: ['Mauritania', '10,628', '2024', '10,453', '2023', '10,997', '2022']
Row data: ['Togo', '9,832', '2024', '9,171', '2023', '8,087', '2022']
Row data: ['New Caledonia', '—', '9,623', '2022', '9,623', '2022']
Row data: ['Syria', '—', '8,980', '2021', '18,595', '2022']
Row data: ['Monaco', '—', '8,784', '2022', '8,772', '2022']
Row data: ['Montenegro', '8,010', '2024', '7,405', '2023', '6,229', '2022']
Row data: ['Liechtenstein', '—', '7,365', '2022', '7,757', '2022']
Row data: ['Bermuda', '—', '7,828', '2022', '7,546', '2022']
Row data: ['Maldives', '7,199', '2024', '6,600', '2023', '6,170', '2022']
Row data: ['Barbados', '6,863', '2024', '6,394', '2023', '5,699', '2022']
Row data: ['Cayman Islands', '—', '6,601', '2022', '6,281', '2022']
Row data: ['South Sudan', '6,517', '2024', '—', '4,616', '2022']
Row data: ['French Polynesia', '—', '5,815', '2022', '5,814', '2022']
Row data: ['Fiji', '5,801', '2024', '5,495', '2023', '4,979', '2022']
Row data: ['Eswatini', '5,085', '2024', '4,598', '2023', '4,326', '2022']
Row data: ['Liberia', '4,754', '2024', '4,332', '2023', '3,265', '2022']
Row data: ['Sierra Leone', '4,558', '2024', '3,810', '2023', '3,481', '2022']
Row data: ['Djibouti', '4,364', '2024', '4,099', '2023', '4,003', '2022']
Row data: ['Suriname', '4,337', '2024', '3,782', '2023', '3,620', '2022']
Row data: ['Aruba', '4,069', '2024', '3,545', '2022', '3,544', '2022']
Row data: ['Andorra', '3,897', '2024', '3,728', '2023', '3,376', '2022']
Row data: ['Belize', '3,296', '2024', '3,282', '2023', '2,830', '2022']
Row data: ['Greenland', '—', '3,236', '2021', '2,926', '2022']
Row data: ['Bhutan', '3,110', '2024', '2,898', '2022', '2,898', '2022']
Row data: ['Curaçao', '—', '3,074', '2022', '3,075', '2022']
Row data: ['Burundi', '3,075', '2024', '2,642', '2023', '4,032', '2022']
Row data: ['Central African Republic', '2,810', '2024', '2,555', '2023', '2,395', '2022']
Row data: ['Cape Verde', '2,718', '2024', '2,587', '2023', '2,314', '2022']
Row data: ['Gambia', '2,694', '2024', '2,340', '2023', '2,231', '2022']
Row data: ['Saint Lucia', '2,582', '2024', '2,520', '2023', '2,165', '2022']
Row data: ['Lesotho', '2,395', '2024', '2,046', '2023', '2,287', '2022']
Row data: ['Eritrea', '—', '—', '2,383', '2022']
Row data: ['Zanzibar', '—', '—', '2,361', '2022']
Row data: ['Seychelles', '2,203', '2024', '2,141', '2023', '1,994', '2022']
Row data: ['Guinea-Bissau', '2,151', '2024', '1,966', '2023', '1,574', '2022']
Row data: ['Antigua and Barbuda', '2,127', '2024', '2,033', '2023', '1,770', '2022']
Row data: ['San Marino', '2,033', '2024', '1,855', '2021', '1,780', '2022']
Row data: ['East Timor', '1,992', '2024', '2,243', '2023', '3,204', '2022']
Row data: ['Solomon Islands', '1,707', '2024', '1,631', '2023', '1,597', '2022']
Row data: ['Sint Maarten', '—', '1,623', '2023', '1,572', '2022']
Row data: ['Comoros', '1,422', '2024', '1,352', '2023', '1,246', '2022']
Row data: ['Grenada', '1,406', '2024', '1,320', '2023', '1,192', '2022']
Row data: ['Turks and Caicos Islands', '—', '1,402', '2023', '1,138', '2022']
Row data: ['Vanuatu', '1,289', '2024', '1,126', '2023', '985', '2022']
Row data: ['Saint Kitts and Nevis', '1,134', '2024', '1,077', '2023', '979', '2022']
Row data: ['Saint Vincent and the Grenadines', '1,128', '2024', '1,066', '2023', '946', '2022']
Row data: ['Samoa', '1,024', '2024', '934', '2023', '857', '2022']
Row data: ['São Tomé and Príncipe', '751', '2024', '603', '2023', '546', '2022']
Row data: ['Dominica', '708', '2024', '654', '2023', '612', '2022']
Row data: ['Tonga', '581', '2024', '500', '2022', '488', '2022']
Row data: ['Micronesia', '484', '2024', '460', '2023', '427', '2022']
Row data: ['Kiribati', '311', '2024', '279', '2023', '223', '2022']
Row data: ['Palau', '308', '2024', '263', '2023', '225', '2022']
Row data: ['Marshall Islands', '305', '2024', '284', '2023', '279', '2022']
Row data: ['Nauru', '161', '2024', '154', '2023', '147', '2022']
Row data: ['Tuvalu', '66', '2024', '62', '2023', '59', '2022']

ValueError: 10 columns passed, passed data had 7 columns

## Exercise

* Do the same table scraping for
https://en.wikipedia.org/wiki/List_of_countries_by_minimum_wage

* Extract the "Minimum wages by country" table. Similar issue with the header

* Save it to DataFrame.

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of the page with the table
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_minimum_wage'

# Send a GET request to the page
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Parse the page content
    soup = BeautifulSoup(response.text, 'html.parser')
    #print(soup.prettify())

    # Find the table with GDP data (the table is under the class "wikitable")
    table = soup.find('table', class_='wikitable')
    #print(table)

    # Extract table headers
    headers = []
    #headers = [header.text.strip() for header in table.find_all('th')]

    ##
    # ValueError: 10 columns passed, passed data had 7 columns
    ##
    for header in table.find_all('th'):
        colspan = int(header.get('colspan', 1))
        if colspan == 1:
            headers.append(header.text.strip())

    print("Headers:", headers)


    # Extract table rows
    rows = table.find_all('tr')[1:]  # Skip the header row

    # Initialize lists to hold row data
    data = []
    for row in rows:
        cells = row.find_all('td')
        if len(cells) > 0:
            row_data = [cell.text.strip() for cell in cells]
            #print("Row data:", row_data)
            data.append(row_data)
    # Create a DataFrame from the data
    df = pd.DataFrame(data, columns=headers)

    # Print the DataFrame
    print(df.head())

    # Save the DataFrame to a CSV file
    #df.to_csv('wage_data.csv', index=False)

else:
    print(f"Failed to retrieve the page. Status code: {response.status_code}")

Headers: ['Country', 'Minimum wage', 'Workweek (hours)[4]', 'Percent of GDP per capita[5]', 'Effective per', 'Nominal (US$)[6]', 'PPP (Int$)[7]', 'Nominal (US$)[8]', 'PPP (Int$)[9]']
Row data: ['Afghanistan', '؋5,500 (US$67) per month for non-permanent private sector (Afs. 66,000 per annum). The minimum wage for permanent government workers was ؋6,000 (US$74) per month (Afs. 72,000 per annum). There was no minimum wage for permanent workers in the private sector.[10]', '858', '3,272', '40', '0.41', '1.57', '168.3%', '2017']
Row data: ['Albania', 'L40,000 (US$430) per month (480,000 lek per annum). The law establishes a 40-hour workweek, but the actual workweek is typically set by individual or collective-bargaining agreement.[10][11][12][13]', '4,637', '8,697', '40', '2.23', '4.18', '75.4%', '1 Apr 2023']
Row data: ['Algeria', 'د.ج\xa020,000 (US$156.19) per month, nationally (DA 240,000 per annum).[14][15]', '1,777', '6,247', '40', '0.85', '3', '41.6%', '1 May 2020']
Row data: ['Andorra', '€7.42 (US$8.33) hourly.[16]', '18,253', '13,493', '40', '8', '6', '28%', '1 Jan 2023']
Row data: ['Angola', 'Kz\xa032,181 (US$61) per month; paid thirteen times a year (Kz. 418,353 per annum)[17][18]', '663', '3,161', '44', '0.29', '1.38', '49%', '2022']
Row data: ['Antigua and Barbuda', 'EC$8.2 per hour (US$3.03).[10][19][20]', '6,317', '7,788', '40', '3.04', '3.74', '34.4%', '1 Nov 2014']
Row data: ['Argentina', 'AR$268,056 (US$281) per month for up to 200 hours; paid thirteen times a year (Arg$3,484,000 annually).[21]', '36,685', '322,362', '48', '14.7', '129.15', '1,616.7%', '1 September 2024']
Row data: ['Armenia', '֏\xa075,000 (US$190) per month.[10][22]', '1,787', '4,567', '40', '0.86', '2.2', '51.7%', '15 Nov 2022']
Row data: ['Australia', 'Most workers are covered by an award, which may vary by employee age, geographical location and industry. Workers receive mandatory employer loadings such as penalty rates or leave loading. Minimum wages are set federally by the Fair Work Commission.\nFor those 21 and older, not covered by an award or other instrument, (as of July 1, 2024) - the minimum wage is $A\xa0915.90 (US$622.17) per week, or $A\xa024.10 (US$16.37) per hour.[23] Casual workers are paid a loading of typically 25%, resulting in a minimum of A$28 (US$18) per hour for those workers.\nWorkers under 21, apprentices and trainees not covered by an award, have a minimum wages set at a percentage of the ordinary rate.[24] For those under 16, this is 36.8% or A$7.87 (US$5.25) per hour; $A\xa09.83 (US$6.56) with the casual loading.[25]', '35,810', '29,767', '38', '18.12', '15.06', '64.7%', '1 July 2024']
Row data: ['Austria', 'None: National collective bargaining agreements set minimum wages by job classification for each industry and provide for a minimum wage of €1,200 (US$1419) per month[dubious – discuss]. Wages where no such collective agreements exist, such as for domestic workers, janitorial staff and au pairs, are regulated by relevant legislation and are generally lower than those covered by collective bargaining. The national minimum wage legislation has lapsed, although is still in force by convention.[26][10]', '', '', '40', '', '', '', '2017']
Row data: ['Azerbaijan', '₼345 (US$203) per month.', '2,435', '11,829', '40', '1.17', '5.69', '68.5%', '5 Jan 2023[27]']
Row data: ['The Bahamas', 'B$5.25 (US$5.25) per hour, B$42 (US$42) per day, and B$210 (US$210) per week.[10][28][29]', '10,920', '9,579', '40', '5.25', '4.61', '42.5%', '15 Aug 2015']
Row data: ['Bahrain', 'None; .د.ب\xa0300 (US$800) for the public sector workers (only applies to Bahraini nationals).[10]', '', '', '48', '', '', '', '2017']
Row data: ['Bangladesh', '৳1,500 (US$19) per month for all economic sectors not covered by industry-specific wages; in the garment industry the minimum wage raised to ৳8,000 (US$95) per month since 1 Dec 2018,[30] rising to ৳12,500 (US$106.40) per month on 1 Dec 2023.[31] The minimum wage is set nationally every five years by the National Minimum Wage Board in a tripartite forum industry by industry.[10][18][32][33][34]', '212', '564', '48', '0.08', '0.23', '15.8%', '1 Dec 2013']
Row data: ['Barbados', 'Bds$\xa08.5 (US$4.25) per hour for general minimum wage rates. Bds$\xa09.25 (US$4.63) per hour for security guards.[35]', '8,840', '7,187', '40', '4.25', '3.46', '39.8%', '1 Apr 2021']
Row data: ['Belarus', 'Br\xa0554 (US$122) per month.[36]', '0', '1', '40', '0', '0', '0%', '1 Jan 2023']
Row data: ['Belgium', '€2,029.88 (US$2401) per month.[37][18][38]', '28,809', '27,680', '38', '14.58', '14.01', '59.6%', '1 April 2024']
Row data: ['Belize', 'BZ$5 (US$2.48) per hour.[10][39][40]', '5,850', '10,263', '45', '2.5', '4.39', '121.3%', '22 July 2022']
Row data: ['Benin', 'CFA\xa052,000 (US$86.12) per month;[41] the government set minimum wage scales for a number of occupations.[18][42]', '865', '2,149', '40', '0.42', '1.03', '99.1%', '1 Jan 2023']
Row data: ['Bhutan', 'Nu.\xa03,750 per month.[10][43][44]', '609', '2,020', '40', '0.29', '0.97', '22.7%', '1 Feb 2014']
Row data: ['Bolivia', "Bs.\xa02,500 (US$362) per month.[45] plus an obligatory Christmas bonus equal to one month's pay, prorated for the amount of time the worker has worked in their present position. Plus a second Christmas Bonus if the government decries the economy grew enough, plus an extra month paid in May if the company made a profit for the previous year.[46][47]", '4,703', '9,448', '48', '1.88', '3.79', '130.6%', '1 May 2024']
Row data: ['Bosnia and Herzegovina', 'KM\xa0543 (US$269) net per month.[48]', '3,949', '8,044', '40', '1.9', '3.87', '66.1%', '2022']
Row data: ['Botswana', 'P\xa07.34 (US$0.62) an hour for most full-time labour in the private sector; P\xa01,786 (US$152) per month.[49]', '1,933', '4,051', '48', '0.77', '1.62', '23.9%', '2022']
Row data: ['Brazil', 'R$1,412 per month (US$290), paid 13 times a year.[50] The Brazilian minimum wage is adjusted annually by the federal government, but each Brazilian state has the option to either follow the national minimum wage or to set its own minimum wage, which cannot be lower than the federal minimum wage. In 2022, five states (RS, SC, PR, SP and RJ) decided to stick with the latter option in order to have higher state minimum wages.[51]', '3,406', '8,382', '44', '1.49', '3.66', '55.4%', '1 Jan 2024']
Row data: ['Brunei', 'None[10]', '', '', '', '', '', '', '2017']
Row data: ['Bulgaria', 'лв.\xa0933 (€477) per month, лв.\xa05.58 (€2.85) per hour.[37][52][53]', '7,034', '15,475', '40', '3.38', '7.44', '80.4%', '1 Jan 2024']
Row data: ['Burkina Faso', 'CFA\xa034,664 (US$59) per month.[10][54]', '750', '1,905', '40', '0.36', '0.92', '107.6%', '1 Apr 2012']
Row data: ['Burundi', 'None; in the past the government set the minimum wage, but during the year the minimum wage was set by market forces.[10][42]', '', '', '40', '', '', '', '2017']
Row data: ['Cambodia', '៛ 818,800 (US$200) per month, for the textile and shoe industries.[55][10][18][56]', '', '', '48', '', '', '', '3 Oct 2023']
Row data: ['Cameroon', 'CFA\xa036,270 (US$62) per month.[10][57]', '785', '1,819', '40', '0.38', '0.87', '50.4%', '30 July 2014']
Row data: ['Canada', 'The minimum wage in Canada is set federally and by each province and territory; ranges from CA$13 to CA$16 (US$9.69 to US$11.93) per hour. The minimum wage calculated here is a weighted average based on the relative population in each province.[10][58][59]', '24,128', '22,176', '40', '11.6', '10.66', '49.5%', '1 June 2022']
Row data: ['Cape Verde', '13.000$00 (US$141) per month.[60][61]', '1,673', '3,414', '44', '0.73', '1.49', '52.1%', '1 Jan 2018']
Row data: ['Central African Republic', 'FCFA\xa035,000 per month, FCFA\xa0218.75 per hour.[62][63]', '821', '1,539', '40', '0.39', '0.74', '220.3%', '2011']
Row data: ['Chad', 'FCFA\xa059,995 (US$110) per month, FCFA\xa0355 (US$0.60) per hour.[10][64][65]', '1,298', '3,484', '39', '0.64', '1.72', '175%', '18 Oct 2011']
Row data: ['Chile', "CL$500,000 (US$530 per month for workers aged 18–65; or CL$305,851 (US$384) per month for workers younger than 18 and older than 65; and CL$264,282 (US$331) per month for 'non remunerative' purposes.[66]", '7,906', '13,184', '45', '3.38', '5.63', '56.8%', '1 Jul 2024']
Row data: ['China', 'The minimum wage in China is set locally; ranges from CN¥\xa01,420 (US$208.82) per month, or CN¥\xa014.6 (US$2.06) per hour in Liaoning; to CN¥\xa02,420 (US$379.77) per month, or CN¥\xa021 (US$3.30) per hour in Shanghai.[18][67][68][69][70]', '2,642', '4,426', '40', '1.27', '2.13', '28.5%', '31 July 2018']
Row data: ['Colombia', 'COL$1,300,000 + COL$162,000 by transportation subsidy (US$350) per month[71]', '5,077', '13,857', '48', '2.03', '5.55', '97.9%', '1 Jan 2024']
Row data: ['Comoros', 'CF\xa055,000 (US$129) per month.[10]', '1,587', '3,037', '40', '0.76', '1.46', '199.5%', '2017']
Row data: ['Democratic Republic of the Congo', 'FC\xa01,680 (US$1.83) per day.[10][72]', '220', '741', '45[73]', '0.09', '0.32', '92.4%', '1 Jan 2009']
Row data: ['Republic of the Congo', 'FCFA\xa090,000 (US$170) per month in the formal sector.[10]', '1,948', '3,663', '40', '0.94', '1.76', '64.1%', '2017']
Row data: ['Costa Rica', 'Varies for specified industries from ₡11,953.65 (US$23.21) per 8-hour work day for all workers to ₡15,613.91 (US$30.32) per day for specialized workers. All other occupations not explicitly covered fall under the generic scale, which varies from ₡358,609.5 (US$696.42) per month for unskilled workers to ₡765,985.67 (US$1,487.54) per month for licentiates.[74]', '6,932', '11,530', '48', '2.78', '4.62', '69.4%', '1 Jan 2024']
Row data: ["Côte d'Ivoire", 'Varies by occupation, with the lowest set to CFA\xa060,000 (US$120) per month for the industrial sector; a slightly higher minimum wage rate is applied for construction workers.[10][75][76]', '792', '1,868', '40', '0.38', '0.9', '50.6%', '2013']
Row data: ['Croatia', '€840 (US$900) per month.', '1,585', '2,520', '40', '0.76', '1.21', '10.8%', '1 Jan 2024']
Row data: ['Cuba', '$MN2,100 (US$6.66) per month.[77][78] Each citizen is however also given free food to supplement the salary.', '44', '669', '48', '0.44', '0.74', '0.4%', '2021']
Row data: ['Cyprus', "None; €870 (US$1,006) per month for shop assistants, nurses' assistants, clerks, hairdressers, and nursery assistants; it rises to €924 (US$1,069) after six months' employment. For asylum seekers working as unskilled workers in the agricultural sector, the minimum monthly wage was €425 (US$570) with accommodation and food provided. For skilled workers in the agricultural sector, the minimum salary was €767 (US$1,040) without accommodation and food.[10]", '', '', '48', '', '', '', '2017']
Row data: ['Czech Republic', '17,300\xa0Kč (US$776) per month, or 103.8\xa0Kč (US$4.64) per hour.[79][18][80]', '9,959', '15,119', '40', '4.79', '7.27', '43.5%', '1 Jan 2023']
Row data: ['Denmark', 'None; instead, negotiated between unions and employer associations; the average minimum wage for all private and public sector collective bargaining agreements was approximately kr.\xa0110 (nominally US$16) per hour, exclusive of pension benefits.[10][81]', '', '', '37.5', '', '', '', '2017']
Row data: ['Djibouti', 'None; cancelled by the 2006 Labor Code for occupational categories, establishing that wages be set after common agreement between employers and employees. For public sector workers, minimum wage was Fdj35,000 (US$198) per month.[10][82]', '', '', '48', '', '', '', '2017']
Row data: ['Dominica', 'EC$4 (US$1.50) per hour.[10][83][84]', '3,081', '4,223', '40', '1.48', '2.03', '38.6%', '1 June 2008']
Row data: ['Dominican Republic', 'RD$8,310 (US$166) per month in the FTZs and between RD$9,412 (US$188) and RD$15,448 (US$309) outside the FTZs, depending upon the size of the company; RD$5,884 (US$117) per month for the public sector; RD$320 (US$6) a day for farm workers who are covered by minimum wage regulations based on a 10-hour day, with the exception of sugarcane workers who received RD$146 based on an eight-hour workday.[10][85][86]', '2,613', '6,704', '44', '1.14', '2.93', '44.1%', '2021']
Row data: ['Ecuador', 'US$594 per month (including mandatory 13th and 14th salaries, minimal 15 days vacation period per year and mandatory reserve funds after one year of continuos work). The minimum wage set by the government for 2024 is $460 per month without social benefits. Workers receive mandatory 13th and 14th salaries, paid vacations and reserve funds equal to an additional salary after one year of continous work.[87]', '7,130', '11,688', '40', '3.43', '5.62', '104%', '1 Jan 2024']
Row data: ['Egypt', 'None; The minimum wage of public sector is LE 6,000 (US$123.6) per month. The private sector (There are certain grace periods in certain industries such as tourism, retail, and clothing.) is LE 6,000 (US$123.6) per month.[88]', '', '', '42', '', '', '', 'May 2024']
Row data: ['El Salvador', 'The minimum wage was set by the government at US$304.17 monthly in 2018.[10][18][89]', '3,650', '7,019', '44', '1.6', '3.07', '81.5%', '1 Jan 2018']
Row data: ['Equatorial Guinea', 'FCFA\xa0129,035 (US$224) per month.[10]', '2,792', '4,479', '48', '1.12', '1.79', '17.2%', '2017']
Row data: ['Eritrea', 'None; Nfk\xa0360 (US$23.3) per month in the public sector.[10]', '', '', '44.5', '', '', '', '2017']
Row data: ['Estonia', '€725 (US$857) per month, or €4.30 (US$5.09) per hour.[90][18]', '10,578', '14,662', '40', '5.09', '7.05', '49.3%', '1 Jan 2023']
Row data: ['Eswatini', 'E\xa0531.6 (US$76.50) per month for a domestic worker; E\xa0420 (US$60.50) a month for an unskilled worker; E\xa0600 (US$86.50) a month for a skilled worker.[82]', '694', '1,128', '48', '0.33', '0.54', '19%', '2011']
Row data: ['Ethiopia', 'None; some government institutions and public enterprises set their own minimum wages: public sector employees, the largest group of wage earners, earned a monthly minimum wage of Br\xa0420 (US$21); employees in the banking and insurance sector had a minimum monthly wage of Br\xa0336 (US$18).[10]', '', '', '48', '', '', '', '2017']
Row data: ['Federated States of Micronesia', 'None; US$2.65 per hour for employment with the national government; all states have a minimum hourly wage for government workers: US$2.00 in Pohnpei, US$1.25 in Chuuk, US$1.42 in Kosrae, and US$1.60 in Yap; US$1.75 for private sector workers in Pohnpei.[10]', '', '', '40', '', '', '', '2015']
Row data: ['Fiji', 'FJ$2.68 per hour.[91][92]', '3,232', '5,226', '48', '1.29', '2.09', '57.4%', '30 Sep 2017']
Row data: ['Finland', 'None; however, the law requires all employers, including non-unionized ones, to pay minimum wages agreed to in collective bargaining agreements; almost all workers are covered under such arrangements.[10]', '', '', '40', '', '', '', '2017']
Row data: ['France', '€1,709.28 (US$2022) gross per month, €11.27(US$12.5) per hour.[93]', '24,259', '23,576', '35', '13.33', '12.95', '57%', '1 Jan 2023']
Row data: ['Gabon', 'FCFA\xa0150,000 (US$255) per month; government workers received an additional monthly allowance of FCFA\xa020,000 (US$34) per child; government workers also received transportation, housing, and family benefits; the law does not mandate housing or family benefits for private sector workers.[10][94]', '3,246', '4,865', '40', '1.56', '2.34', '26.9%', '1 Feb 2010']
Row data: ['The Gambia', 'D\xa050 (US$1.25) per day.[10]', '253', '958', '48', '0.1', '0.38', '57.1%', '2017']
Row data: ['Georgia', '₾20 (US$8) per month for private sector workers which has remained unchanged since the early 1990s but is not applied in practice; ₾115 (US$48) per month for public employees;[10] ₾1,260 (US$478) for doctors and ₾792 (US$301) for nurses working in clinics involved in the state’s universal healthcare program.[95]', '93', '353', '40', '0.04', '0.17', '3.5%', '2017']
Row data: ['Germany', '€12.41 per hour is the minimum wage in Germany. A higher minimum wage is often set by collective bargaining agreements and enforceable by law.[18]', '30,529', '31,100', '40[96]', '14.68', '14.95', '63.7%', '1 Jan 2024']
Row data: ['Ghana', '₵18.19 (US$1.2) per day.[18][97]', '814', '3,307', '40', '0.39', '1.59', '77%', '1 Jan 2024']
Row data: ['Greece', '€968 (US$1145) per month in 12 payments, €830 (US$982) per month in 14 payments.[98]', '13,738', '17,082', '40', '6.6', '8.21', '63.8%', '1 Apr 2024']
Row data: ['Grenada', 'Minimum wage schedules set pay by occupation; for example, the minimum wage for domestic workers, for example, was EC$4.5 per hour, while that for a security guard was EC$8 per hour.[10]', '', '', '40', '', '', '', '2017']
Row data: ['Guatemala', "Q\xa081.87 (US$10.9) per day for agricultural and nonagricultural work and Q\xa074.89 (US$10) per day for work in export-sector regime factories. Minimum wage earners also are due a mandatory monthly bonus of Q\xa0250 (US$33), and salaried workers receive two mandatory yearly bonuses (the bono 14 and the Christmas bonus), each equivalent to one month's salary.[10][18]", '3,924', '6,974', '48', '1.57', '2.79', '87.8%', '1 Jan 2016']
Row data: ['Guernsey', '£8.70\xa0stg per hour (US$11.60) for those aged 18+  £8.25 per hour (US$11.00) for those aged 17–18.[99]', '', '', '', '', '', '', '1 Jan 2021']
Row data: ['Guinea', 'The labor code allows the government to set a minimum hourly wage; however, the government has not exercised this provision except for setting the minimum wage for domestic workers at FG\xa0440,000 (US$62) per month.[10]', '', '', '48', '', '', '', '2017']
Row data: ['Guinea-Bissau', 'CFA\xa019,030 (US$30) per month plus a bag of rice[100]', '412', '935', '45', '0.18', '0.4', '58.1%', '2017']
Row data: ['Guyana', 'GY$35,000 (US$168) per month, or GY$1,616 (US$7) per day, or GY$202 (US$1) per hour.[101]', '2,015', '3,204', '40', '0.97', '1.54', '40.9%', '1 July 2013']
Row data: ['Haiti', 'G\xa0290 per day for servants for an eight-hour workday; G\xa0400 per day for segment A industries; G\xa0350 per day for segment B industries; G\xa0290 per day for segment C industries; G\xa0350 per day for companies with piece work that re-export; and G\xa0350 per day for companies with piece work that exports.[102][10][103][104][105]', '1,014', '3,194', '48', '0.41', '1.28', '179.1%', '1 Aug 2017']
Row data: ['Honduras', 'Minimum wages ranged from a low of L\xa08,134.08 per month, L\xa050.83 per hour to L\xa016,856.24 per month, L\xa0105.35 per hour.[10][18][106]', '4,842', '9,898', '44', '2.12', '4.33', '209%', '1 Jan 2024']
Row data: ['Hong Kong', 'HK$40 (US$5.1) per hour is the minimum wage in Hong Kong.[107]', '10,708', '12,899', '40', '5.15', '6.2', '22%', '1 May 2023']
Row data: ['Hungary', '232,000\xa0Ft (US$765) per month for unskilled labor, 296,400\xa0Ft (US$978) per month for skilled labor.[108]', '9,184', '18,636', '40', '4.42', '8.96', '69.8%', '1 Jan 2023']
Row data: ['Iceland', 'Unlike the other Scandinavian countries, minimum wages are negotiated in various collectively bargained agreements and applied automatically to all employees in those occupations, regardless of union membership; while the agreements can be either industry- or sector-wide, and in some cases firm-specific, the minimum wage levels are occupation-specific.[10][37]', '', '', '40', '17.45', '', '', '3 Dec 2022  (conversion rate, 1 Sep 2023)']
Row data: ['India', 'Though stipulated by law, it varies from ₹160 (US$2.16) per day in Bihar, to ₹348/day (US$4.7) in Mumbai (2017),[109] to ₹750 (US$10) per day in Kerala. State governments set a separate minimum wage for agricultural workers.[10] The minimum wages are set according to Minimum Wages Act, 1948.[110]', '674', '2,498', '48', '0.27', '1', '38%', '2015']

In [ ]:
df.dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Country                       201 non-null    object
 1   Minimum wage                  201 non-null    object
 2   Workweek (hours)[4]           201 non-null    object
 3   Percent of GDP per capita[5]  201 non-null    object
 4   Effective per                 200 non-null    object
 5   Nominal (US$)[6]              200 non-null    object
 6   PPP (Int$)[7]                 200 non-null    object
 7   Nominal (US$)[8]              200 non-null    object
 8   PPP (Int$)[9]                 200 non-null    object
dtypes: object(9)
memory usage: 14.3+ KB

In [16]:
df

,Country,Minimum wage,Workweek (hours)[4],Percent of GDP per capita[5],Effective per,Nominal (US$)[6],PPP (Int$)[7],Nominal (US$)[8],PPP (Int$)[9]
0,Afghanistan,"؋5,500 (US$67) per month for non-permanent pri...",858,"3,272",40,0.41,1.57,168.3%,2017
1,Albania,"L40,000 (US$430) per month (480,000 lek per an...","4,637","8,697",40,2.23,4.18,75.4%,1 Apr 2023
2,Algeria,"د.ج 20,000 (US$156.19) per month, nationally (...","1,777","6,247",40,0.85,3,41.6%,1 May 2020
3,Andorra,€7.42 (US$8.33) hourly.[16],"18,253","13,493",40,8,6,28%,1 Jan 2023
4,Angola,"Kz 32,181 (US$61) per month; paid thirteen tim...",663,"3,161",44,0.29,1.38,49%,2022
...,...,...,...,...,...,...,...,...,...
196,Venezuela,"The minimum wage in Venezuela is Bs. 400,000 p...",10.32,,,,,,1 May 2020
197,Vietnam,"Varies by region; Region I: ₫4,420,000 per mon...","1,591","4,089",40,0.76,1.97,65%,1 Jan 2020
198,Yemen,"None; the minimum civil service wage was ﷼21,0...",,,48,,,,2013
199,Zambia,Varies by sector; ZMW 993.6 (US$81) per month ...,596,"3,180",48,0.24,1.27,80.8%,10 Sep 2018
200,Zimbabwe,"None, except for agricultural and domestic wor...",,,,,,,2012

In [12]:
df['Nominal (US$)[6]']

0      0.41
1      2.23
2      0.85
3         8
4      0.29
       ...
196
197    0.76
198
199    0.24
200
Name: Nominal (US$)[6], Length: 201, dtype: object

In [13]:
def convert_str_to_int(val):
  print(val)
  if isinstance(val, str):
    if val.isdigit():
      return int(val)
  else:
    return val

In [20]:
def convert_currency(val):
    """
    Convert the string number value to a float
     - Remove $
     - Remove commas
     - Convert to float type
    """
    new_val = val.replace(',','').replace('$', '')
    return new_val

In [29]:
#df['Nominal (US$)[6]'].apply(convert_currency)
df['Nominal (US$)[6]'] = pd.to_numeric(df['Nominal (US$)[6]'], errors='coerce') # set as NaN.
df['Nominal (US$)[6]'] = df['Nominal (US$)[6]'].dropna()

In [27]:
df['Nominal (US$)[6]'].sum()

491.23

In [30]:
df

,Country,Minimum wage,Workweek (hours)[4],Percent of GDP per capita[5],Effective per,Nominal (US$)[6],PPP (Int$)[7],Nominal (US$)[8],PPP (Int$)[9]
0,Afghanistan,"؋5,500 (US$67) per month for non-permanent pri...",858,"3,272",40,0.41,1.57,168.3%,2017
1,Albania,"L40,000 (US$430) per month (480,000 lek per an...","4,637","8,697",40,2.23,4.18,75.4%,1 Apr 2023
2,Algeria,"د.ج 20,000 (US$156.19) per month, nationally (...","1,777","6,247",40,0.85,3,41.6%,1 May 2020
3,Andorra,€7.42 (US$8.33) hourly.[16],"18,253","13,493",40,8.00,6,28%,1 Jan 2023
4,Angola,"Kz 32,181 (US$61) per month; paid thirteen tim...",663,"3,161",44,0.29,1.38,49%,2022
...,...,...,...,...,...,...,...,...,...
196,Venezuela,"The minimum wage in Venezuela is Bs. 400,000 p...",10.32,,,NaN,,,1 May 2020
197,Vietnam,"Varies by region; Region I: ₫4,420,000 per mon...","1,591","4,089",40,0.76,1.97,65%,1 Jan 2020
198,Yemen,"None; the minimum civil service wage was ﷼21,0...",,,48,NaN,,,2013
199,Zambia,Varies by sector; ZMW 993.6 (US$81) per month ...,596,"3,180",48,0.24,1.27,80.8%,10 Sep 2018
200,Zimbabwe,"None, except for agricultural and domestic wor...",,,,NaN,,,2012